body
{
background-color: #9c9f84;
margin: 0px;
font-family: comic sans ms;
font-size: 14px; 
}
#header
{
	background-color: #5c755e;
	margin: 10px;
	height: 70px;
	border-radius: 25px;
	
}
h1
{
	text-align: center;
	position: relative;
	top: 25%;
	-webkit-transform: translately(-50%);
	-ms-transform: translately(-50%);
	transform: translately(-50%);
}
#navg ul
{
	background-color: #5c755e;
	border-radius: 15px;
	margin: 10px;
	list-style-type: none;
	text-align: center;
	padding: 10px;
}
#navg li
{
	display: inline;
}
#navg ul li a 
{
	background-color:  #5c755e;
	text-decoration: none;
	font-family: Arial;
	padding: .2em lem;
	color: black;
	padding-right:5px;
	padding-left:5px;
}
#navg ul li a:hover 
{
	background-color: #e5e4d7;
	color:#5c755e;
	border-radius: 5px;
}
	
	
.sidebar
{
	background-color: #557033;
	margin: 10px;
	border-radius: 15px;
	padding: 10px;
	float: right;
	width: 180px;
	height:1500px;
	overflow: scroll;
}
#pop
{
	font-size:150%;
	font-weight:bold;
}
.image
{
	opacity:1.0;
	transition: opacity 0.25s ease-in-out;
}
.image:hover
{
	opacity: 0.4;
}
.main
{
	background-color: #e5e4d7;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:220px;
	margin-top:10px;
	border-radius:15px;
	padding:10px;
}
.highlight
{
	color:#5c755e;
	font-size:130%;
}
/*===========================self adjustment=================*/

@media(max-width: 500px)
{
	.main
	{
		display: none;
	}
}
@media(max-width: 400px)
{
	.main1
	{
		display: none;
	}
	.sidebar
	{
		float: center;
	}
}
	